.EducationSection {
    max-width: 80vw;
    margin: auto;
    height:80vh;
    
}
.EducationSection h3{
    font-size: 1.5rem;
}
.EducationSection .box{
    background:white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.EducationSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 180px;
}
.image-top{
    width:27px;
    position: relative;
    left:-9px;
    top: -30px; 
}
.vertical-title{
    position: relative;
    top: 60px;
    width: 150px;
    font-size: 18px;
}

.desc{
    font-size: 17px;
    position:relative;
    top: 70px;
    color:gray;
    width: 250px;
}